.lift, .lift:hover {
    transition: .3s transform linear;
}

.lift:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.technology-image {
    max-height: 6rem;
}

.border-none {
    border: none !important;
}

.border-thick {
    border: solid 3px;
}

.max-col-4 {
    max-width: 33.333333%;
}
